/*font-family: 'Lora', serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Alegreya', serif;
font-family: 'Open Sans', sans-serif;*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya', serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
  color: #4d4d4d;
}

h4 {
  font-size: 24px;
  color: #1d1d1d;
}

h5 {
  font-size: 18px;
  color: #7d7d7d;
}

.page {
  color: #7d7d7d
}

.col-md-2.sidebar.well {
  height: 100vh;
}

.links {
  list-style-type: none;
  padding-left: 0px;
  line-height: 36px;
}

#nav {
  padding-left: 20px;
}

.col-md-4.projects {
  margin-left: 40px;
  padding: 0px 40px 40px 40px;
}

.col-md-8.projects {
  max-width: 50%;
  margin-left: 40px;
}

img {
  border-radius: 50%;
  margin-bottom: 20px;
}
